body {
    font-family: var(--font);
    color: var(--primary-color);
    background: var(--bg-color);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,h2,h3 {
    font-family: var(--font-heading);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 20px;

    display: flex;
    justify-content: space-around;
    padding: 1rem;

    text-align: center;
    align-items: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
}

main {
    background-color: var(--secondary-color);
    flex: 1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;
}

@media (max-width: 1000px) {
    main {
        flex-direction: column;
        gap: 1rem;
    }
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    
    display: flex;
    flex-direction: column;
    padding: 1rem;

    text-align: center;
}

address {
    display: flex;
    gap: 0.5rem;
    padding: 0px 3rem;
    justify-content: space-between;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 0.5rem;
}

.card {
    display: inline-block;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--secondary-color-card);

    text-align: center;

    max-width: 80%;
}

.card-img {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 51rem;

    border-radius: 10px;
    background-color: var(--secondary-color-card);

    margin: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--secondary-color-hover)
}

.fa-facebook-f,
.fa-instagram {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.fa-facebook-f:hover,
.fa-instagram:hover {
    background-color: var(--secondary-color-hover);
}

.gallery img {
    width: 15rem;
    height: 15rem;

    margin: 1rem;
    border-radius: 10px;
}